<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xazktx.flowable.mapper.flowable.ActRuTaskMapper">

    <select id="updateTaskCategoryByID" parameterType="String" resultType="int">
        UPDATE ACT_RU_TASK set CATEGORY_ = '退回' where ID_ = #{TaskId}
    </select>

</mapper>